
<div class="logo"></div>

<div class="container m-10">
  <section class="index-cards">
    <div>
      <a [routerLink]="['/curso']"  class="card nav-link">
        <span class="icon"></span>
        <span class="label">PRINCIPIANTES</span>
      </a>
      <div>Aprendé los conceptos básicos para poder armar tus primeras Apps</div>
    </div>
    <div>
      <a [routerLink]="['curso']"   class="card">
        <span class="icon"></span>
        <span class="label">AVANZADOS</span>
      </a>
      <div>Avanza a un nivel superior utilizando NodeJs y MongoDB</div>
    </div>
  </section>
</div>
